<h1 class='page-header'>Log Game</h1>

<div class="alert alert-warning" role="alert">Log Your Game.</div>

<h3>New Round</h3>
<%= form_for :log, url: "log/rounds" do |form| %>
  <p> My nick_name </p>
  <%= form.text_field :name %>
  <br>
  <p> Date Played </p>
  <%= form.text_field :date %>
  <br>
  <p> Opponent Email </p>
  <%= form.text_field :opponent %>
  <br>
  <br>
  <p> Your Scores </p>
  <%= form.text_field :your_score %>
  <br>
  <p> Their Score </p>
  <%= form.text_field :their_score %>
  <br>
  <br>
  <%= form.submit  %>
<% end  %>
